.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
/LichtUndTore/data/homie/config.json
/LichtUndTore/data/homie/config_simfra.json
/LichtUndTore/src/WifiConstants.h
/LichtUndTore/.gitignore
/LichtUndTore/.travis.yml
/LichtUndTore/lib/readme.txt
/LichtUndTore/platformio.ini

/SchalterFuerGarage/data/homie/config.json
/SchalterFuerGarage/src/WifiConstants.h
/SchalterFuerGarage/.gitignore
/SchalterFuerGarage/.travis.yml
/SchalterFuerGarage/lib/readme.txt
/SchalterFuerGarage/platformio.ini

/RFID/data/homie/config.json
/RFID/data/homie/config_simfra.json
/RFID/src/WifiConstants.h
/RFID/.gitignore
/RFID/.travis.yml
/RFID/lib/readme.txt
/RFID/platformio.ini

/FunkSenderEmpfaenger/src/WifiConstants.h
/FunkSenderEmpfaenger/.gitignore
/FunkSenderEmpfaenger/.travis.yml
/FunkSenderEmpfaenger/lib/readme.txt
/FunkSenderEmpfaenger/platformio.ini



